<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CSPanda7 - Github</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input #input (keyup)="onSearch(input.value)" type="text" placeholder="Search users..." class="form-control">
        </div>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1>{{title}}</h1>
  </div>
</div>
<div class="container">

  <!-- Example row of columns -->
  <div class="row">

      <div *ngFor="let repo of repos" class="col-xs-6 col-md-2">

        <div class="thumbnail">
          
          <div class="caption">
            <h4>{{repo.name}}</h4>
            <p>{{repo.description}}</p>
            <p>{{repo.pushed_at| date :'short'}}</p>
            <p>
              <button (click)="viewBranches(repo)" class="btn btn-primary" role="button">More info</button>
            </p>
          </div>
        </div>
      </div>


  </div>

  <hr>

  <footer>
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
</div> <!-- /container -->
<router-outlet></router-outlet>
